.footerDiv {
    margin-top: 8px;
    display: flex;
    align-items: center;
    line-height: 20px;
    background: #001e27;
    height: 54px;
  }

.footerDiv a {
    display: flex;
    align-items: center;
    color: white;
    text-align: center;
    margin: auto;
  }