<!-- Header -->
<div id="inicio" class="row noMargen background">
    <div class="col-lg-12 col-md-12 col-sm-12 col-12 center">
        <h1 class="titulo">Creamos tu página web</h1>
        <br><br>
        <h4 class="subtitulo">Desarrollamos soluciones con excelente servicio, <br> acompañamiento integral y
            personalizado. </h4>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 centerBtns">
            <button class="btnHome">Soy desarrollador</button>
        </div>
        <div class="col-12 col-lg-6 col-md-6 col-sm-6 centerBtns">
            <button class="btnHome">Necesito asesoría</button>
        </div>
    </div>
</div>

<!-- Body -->
<section id="nosotros" class="row noMargen content">
    <div class="col-12 txts contenidotxt">
        <h1 class="titleBody">Nosotros</h1>
        <br><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <br><br>
        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
            galley of type and scrambled it to make a type specimen book.
            <br>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in
            some form, by injected humour, or randomised words which don't look even slightly believable. If you are
            going
            to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle
            of
            text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making
            this
            the first true generator on the Internet.
        </p>
        <br>
    </div>
</section>

<!-- Cómo funciona -->
<section id="funciona" class="row noMargen content">
    <div class="col-12 txts contenidotxt">
        <h1 class="titleBody">Como funciona</h1>
        <br><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <br><br><br><br>
        <div class="row">
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                    printer took a
                    galley of type and scrambled it to make a type specimen book.
                    <br>
                    There are many variations of passages of Lorem Ipsum available, but the majority have suffered
                    alteration in
                    some form, by injected humour, or randomised words which don't look even slightly believable. If
                    you are going
                    to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                    the middle of
                    text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as
                    necessary, making this
                    the first true generator on the Internet.
                </p>
                <br>
            </div>
            <div class="col-12 col-lg-6 col-md-6 col-sm-12">
                <a href="">
                    <img class="imgOne" src="../../assets/img/imgOne.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Asesoría -->
<section id="asesoria" class="row noMargen content">
    <div class="col-12 txts contenidotxt">
        <h1 class="titleBody">Asesoría</h1>
        <br><br>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        <br><br><br><br>
        <div class="row">
            <div class="col-12 col-lg-4 col-sm-4 col-md-4">
                <h4 class="titleCards">Página web</h4>
                <a href="">
                    <img class="imgOne" src="../../assets/img/imgOne.jpg" alt="">
                </a>
            </div>
            <div class="col-12 col-lg-4 col-sm-4 col-md-4">
                <h4 class="titleCards">Aplicación Móvil</h4>
                <a href="">
                    <img class="imgOne" src="../../assets/img/imgMoovil.jpg" alt="">
                </a>
            </div>
            <div class="col-12 col-lg-4 col-sm-4 col-md-4">
                <h4 class="titleCards">Base de datos</h4>
                <a href="">
                    <img class="imgOne" src="../../assets/img/imgBd.jpg" alt="">
                </a>
            </div>
        </div>
    </div>
</section>

<!-- Preguntas -->
<section id="preguntas" class="row noMargen content">
    <div class="col-12 txts contenidotxt">
        <h1 class="titleBody">Preguntas</h1>
        <br><br>
        <div class="row">
            <div class="col-12 col-lg-12 col-md-12 col-sm-12">
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4 col-sm-6 center">
                        <a href="">
                            <img class="imgOneCards" src="../../assets/img/imgWeb.png" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-8 col-md-8 col-sm-6">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock
                        </p>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-12 col-lg-8 col-md-8 col-sm-6">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock
                        </p>
                    </div>
                    <div class="col-12 col-lg-4 col-md-4 col-sm-6 center">
                        <a href="">
                            <img class="imgOneCards" src="../../assets/img/imgMoovil.jpg" alt="">
                        </a>
                    </div>
                </div>
                <br><br>
                <div class="row">
                    <div class="col-12 col-lg-4 col-md-4 col-sm-6 center">
                        <a href="">
                            <img class="imgOneCards" src="../../assets/img/bd1.jpg" alt="">
                        </a>
                    </div>
                    <div class="col-12 col-lg-8 col-md-8 col-sm-6">
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                            classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>