<nav class="sticky-top">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fa fa-bars" aria-hidden="true"></i>
    </label>
    <a href="" class="enlace">
        <img class="logoo" src="../../assets/logo/logo_small.png" alt="">
    </a>
    <ul>
        <li class="active"><a href="#inicio">Inicio</a></li>
        <li><a href="#nosotros">Nosotros</a></li>
        <li><a href="#nosotros">Como funciona</a></li>
        <li><a href="#asesoria">Asesoría</a></li>
        <li><a href="#preguntas">Preguntas</a></li>
    </ul>
</nav>